* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  text-decoration: none;
}

header {
  width: 100%;
  font-size: 5rem;
  color: white;
  height: 20vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo h1 {
  position: absolute;

  font-size: 3rem;
  font-weight: normal;
  text-align: center;

  /* background-color: red; */
  padding: 3rem;
  top: 2rem;
  height: 100%;
  left: 4rem;
}

nav {
  font-weight: normal;
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  /* background-color: red; */
}
nav ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  text-decoration: none;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  font-size: 5rem;

  margin: 4rem;
}

.nav-links:hover {
  color: rgb(184, 184, 184);
  transition: ease-in-out 0.4s;
}

body {
  background: linear-gradient(
    89.96deg,
    #2d362e 5.62%,
    rgba(90, 72, 44, 0.82) 92.13%
  );
  z-index: 0;
  height: 90vh;
  overflow: hidden;
}

#login-button {
  color: rgb(178, 209, 255, 1);
  font-size: inherit;
}

#login-button:hover {
  color: rgb(255, 186, 178);
  transition: ease-in-out 0.4s;
}

.info {
  position: absolute;
  width: 60%;
  height: 30rem;
  margin: 3rem auto;
  left: 10%;
  color: white;
  display: flex;
  flex-direction: column;
}

.info h1,
h2,
h3 {
  line-height: 0;
  margin: 6rem 2rem;
}

.info h1 {
  font-size: 6rem;
}

.info h3 {
  font-size: 3rem;
  margin-top: 0rem;
}

#period {
  position: absolute;
  line-height: 0;
  margin: 1rem auto;
  left: 25%;
  color: rgb(255, 186, 178);
}

#join-today {
  font-size: 3rem;
  text-align: center;
  /* background: red; */
  color: rgb(255, 224, 178, 1);
  border: rgb(255, 224, 178, 1) solid 0.4rem;
  border-radius: 4rem;
  line-height: normal;
}

#join-today:hover {
  background: rgb(255, 224, 178, 1);
  /* border: none; */
  color: #4b5c4d;
  transition: ease-in-out 0.4s;
}

#logo-image {
  position: absolute;
  width: 8rem;
  height: auto;
  top: 20%;
  left: 0rem;
  /* transform: translateY(-50%); */
}

#background-img {
  width: 100%;
  /* height: auto; */
  position: absolute;
  bottom: -15rem;
  left: 0%;
  filter: blur(2px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
  overflow: hidden;
}
